<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utsav.schooldemo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/nliverary"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".Activities.NoticeAndStuff"
            android:label="@string/title_activity_notice_and_stuff"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.Subscriptions"
            android:label="@string/title_activity_subscriptions"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.Details"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.Abouts"
            android:label="@string/title_activity_abouts"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.FeedBack"
            android:label="@string/title_activity_feed_back"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.DownloadFiles"
            android:label="@string/title_activity_download_files"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.News"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.Contacts"
            android:label="@string/title_activity_contacts"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.Resources"
            android:label="@string/title_activity_resources"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.SubscriptionNews"
            android:label="@string/title_activity_subscription_news"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.DetailsNews"
            android:label="@string/title_activity_details_news"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".Activities.Password" >
        </activity>
    </application>

</manifest>
